.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db; 
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

.navbar-brand h1 {
  font-size: 1.5rem;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  font-weight: bold;
  background-color: #5dade2; 
  padding: 0.5rem 1rem;
  border-radius: 12px; 
  border: 2px solid #3498db; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #2980b9; 
  color: #ecf0f1; 
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2980b9;
  width: 250px; 
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001; 
}
.close-menu {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.dropdown-menu a {
  color: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px; 
  background-color: #5dade2; 
  border: 1px solid #3498db; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #1f5f99; 
  color: #ecf0f1;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .dropdown-menu {
    width: 100%;
    right: 0;
    left: 0;
  }
}